@import './theme.less';

.header{
  height: @header-height;
  padding: 0; 
  background: #fff;

  img.logo{
    width: @logo-width;
    height: @logo-height;
    margin: 8px 24px;
    float: left
  }
  .searchInput{
    float: left;
    margin: @margin-size;
    width: 25%;
    height: @icon-size;
    min-width: 200px;
    max-width: 500px;
  }
  .polular{
    float: left;
    margin: @margin-size;
    font-size: @icon-size;
  }
  .all{
    float: left;
    margin: @margin-size;
    font-size: @icon-size;
  }
  .user{
    float: right;
    margin: @margin-size;
  }
  .login{
    margin: 9px;
    float: right;
  }
  .register{
    margin: 9px;
    float: right;
  }
}